body{
    font-family: Arial;
}

header .main-navigation > ul >li {
padding: 10px !important;
margin-left: 76px;
}

header .main-navigation ul li .sub-menu {
top: 45px !important;
}

header .main-navigation ul li .sub-menu li:hover
{
    background: none !important;
}

header .main-navigation ul li .sub-menu {
    background: #f7f7f7 !important;
    margin-left: 0 !important;
}

header .main-navigation ul li .sub-menu li a{
    color: #888888 !important;
}
header .main-navigation ul li .sub-menu li a:hover{
    color: #002265 !important;
}
header .main-navigation ul li a {
    font-weight: normal !important;
}

header .main-navigation ul li .sub-menu li {
    padding: 7px 10px !important;
}
#colophon{
    background: #fff!important;
    font-family: normal;
    font-size: 16px;
    color: #333;
}
#colophon nav li {
    margin-left: 0;
    padding-left: 0;
}
#colophon nav li:first-child {
    margin-left: -55px;
}
#colophon nav li {
    display: inline-block;
    position: relative;

}

#colophon nav li a {
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
}
#colophon nav, #colophon .float-l {
    text-align: left !important;
    width: 1130px;
    margin: 0 auto;
}
#colophon nav li::before{
    content: '';
    border-left: 1px solid #333;
    /*position: absolute;*/
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    margin-left: 5px;
}
#colophon nav li:first-child::before{
    border-left:none;
}
#colophon nav li a:hover{
    text-decoration: underline;
}
.part-5 {
    margin-top: 50px;
}

footer {
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}
.sidebar-left{
    font-size: 16px;
    color:#333;
    margin-top: -20px;
}
.sidebar-left ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar-left ul li a{
    color:#333;
}
.sidebar-left .item-list .item.active {
    background: #f2f2f2;
    text-decoration: none;
}
.sidebar-left .item-list .item {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #d5d5d5;
}
.desc{
    color: #333;
    font-size: 16px;
    padding-top: 5px;
}

.search-form {
     position: relative;
}

.search-form .search_submit {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 3px;
    right: 0;
    width: 0;
    height: 0;
    color: #333;
    font: 400 14px/22px FontAwesome,sans-serif;
}
.search-form .search_input{
    margin-left: -10px;
}

.main-homepage .part-2.services {
    padding-top: 30px !important;
    padding-bottom: 40px;
}
.main-homepage .part-2.services .item .content .title {
    padding-bottom: 0 !important;
    border: 1px solid rgb(0, 34, 101);
    border-radius: 8px;
    background: rgb(0, 34, 101);
    color: #fff;
}
.main-homepage .part-2.services .item .content .excerpt{
    margin-top:30px;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}
.text-overfollow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.part-3 > hr{
    border-color: #df2132;
    background-color: #df2132;
    color: #df2132;
}
.main-homepage .part-3.news hr,.main-homepage .part-4.products hr {
    border-color: #df2132 !important;
    background-color: #df2132!important;
    color: #df2132!important;
    height: 3px;
}
.main-homepage .part-3.news {
     padding-bottom: 0!important;

}
header .logo .container .left .wrap img {
    width: 70% !important;
}
header .logo .container .right {
    padding-top: 0!important;
}
.main-homepage .part-5.customers #slider img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.main-homepage .part-3.news {
    font-family: arial;
}

.main-homepage .part-4.products .item .content .title {
    font-family: arial;
    font-size: 20px;
    padding-bottom: 20px;
}

.main-homepage .part-4.products .item .content .btn-more {
    margin-top: 20px;
}

/*minhpt*/
.main-homepage .part-1.sliders .camera_wrap .camera_caption {
    width: 30% !important;
    left: 34% !important;
    font-size: 40px !important;
    line-height: 40px !important;;
    font-weight: 400 !important;;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid #002265;
    height: 100px;
}

.main-homepage .part-3.news .item-news .wrap .text .excerpt p {
    text-align: justify;
}
.main-homepage .part-3.news .item-news .wrap .text .btn-more a:hover {
    color: #df2132 !important;
}

#header-title {
    padding: 20px 0 20px 0;
}

.listing-header {
    text-align: center;
}
.listing-header h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    line-height: 21px;
}
.categories-products {
    background: #f0f0f0;
}

/*=======================================*/
#slider div.item {
    height: 101px;
}

#slider div.item img {
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.l-container {
    margin: auto;
}

.l-container .hero__title {
    color: #4ac1b4;
    display: block;
    pointer-events: none;
    padding-bottom: 35px;
    padding-top: 35px;
}

.l-container .t-heading-section {
    font-size: 32px;
    border: 1px solid rgb(0, 34, 101);
    border-radius: 8px;
    background: rgb(0, 34, 101);
    color: #fff;
    padding: 5px 10px;
    width: 295px !important;
}

.l-container .blog-home-sidebar {
    margin-top: 0;
}

.l-container .h-color-text-gold {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
    border: 1px solid rgb(0, 34, 101);
    border-radius: 8px;
    background: rgb(0, 34, 101);
    color: #fff;
    padding: 5px 10px;
}

.l-container .media-block--mini .media-block__title {
    font-size: 18px;
}

.l-container .media-block__text .media-block__sub-title {
    font-size: 16px;
    font-weight: 500;
}

.l-container .l-section.l-section--small {
    margin-top: 40px;
}

.l-container .l-media-block:nth-of-type(n+2) {
    margin-top: 25px;
}

.l-container .l-media-block--2-up:nth-of-type(n+2) {
    margin-top: initial;
}

.l-container hr {
    background-color: #df2132 !important;
    border-color: #df2132 !important;
    color: #df2132 !important;
    height: 3px;
    margin-bottom: 0;
}

.l-container .l-media-block-load-more {
    text-align: right;
}

/*==================================================================*/
#tuyen-dung {
    margin-top: 15px !important;
}

/* CAREERS */
body.path-careers #main-wrapper {
    overflow: hidden;
}

.path-careers.node-type-page #main-wrapper .hero-img {
    display: block;
    height: 195px;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.path-careers.node-type-page #main-wrapper .page-title {
    border-bottom: 1px solid #d1d1d1;
    max-width: 610px;
    padding-left: 0;
}

.path-careers.node-type-page #main-wrapper .page-title h1 {
    margin: 15px 0;
}

.path-careers.node-type-page #main-wrapper .item-list {
    text-align: center;
    margin-top: 10px;
    width: 960px;
}

#tuyen-dung .content-area {
    margin-top: 0;
    max-width: 940px;
}

#tuyen-dung .item-list .item {
    margin-left: 5px;
    background: url(../images/bg_partners-list.png) no-repeat center top transparent;
    display: inline-block;
    height: auto;
    width: 290px;
    margin: 0 15px 15px 0;
}

#tuyen-dung .item-list .item:nth-child(3n) {
    margin-right: 0;
}

#tuyen-dung .item-list .item a {
    display: table-cell;
    height: 152px;
    padding: 0 15px;
    width: 285px;
    vertical-align: middle;
    font-size: 24px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#tuyen-dung .item-list .item a:hover {
    color: #949494;
}

#tuyen-dung .item-list .item a .inner {
    position: relative;
    top: -10px;
}

.career-top-info {
    overflow: hidden;
}

.career-top-info img {
    float: right;
}

.career-top-info p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    max-width: 600px;
}

.career-bottom-info h3.core-values {
    margin-top: 10px;
}

.culture-block h3,
.open-positions .open-positions-title {
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.culture-block h3 {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.perks-benefits-block {
    background: url(../images/careers/Gui_by_numbers_2560x400.jpg) no-repeat;
    margin: 40px -860px 35px -800px;
    padding: 35px 810px;
    overflow: hidden;

    padding: 20px 810px;
    height: 399px;
}

.perks-benefits-block h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 0;
}

.perks-benefits-block ul {
    font-size: 19px;
    font-weight: 500;
    max-width: 425px;
    float: left;
    color: #fff;
    line-height: 1.250em;
    list-style-image: url("../images/careers/career_sidebar-bullet.png");
    list-style-position: outside;
    padding-left: 7px;
    margin-left: 7px;
    display: block;
}

.perks-benefits-block ul:first-child {
    margin-right: 100px;
}

.perks-benefits-block li {
    margin-bottom: 10px;
}

.guidance-culture-list {
    font-size: 19px;
    font-weight: 500;
    float: right;
    line-height: 1.250em;
    list-style-image: url("../images/career_sidebar-bullet.png");
    list-style-position: outside;
    padding-left: 7px;
    margin-left: 7px;
    max-width: 370px;
}

.guidance-culture-list li {
    margin-bottom: 10px;
}

/* JOB OPENING */
#tuyen-dung .hero-img {
    display: block;
    height: 195px;
    margin-bottom: 16px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

#tuyen-dung {
    margin: 0 auto;
    padding-top: 0;
}

#tuyen-dung .page-title {
    border-bottom: 1px solid #D5D5D5;
    clear: right;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 0 10px;
    width: 600px;
}

#tuyen-dung.page-title h1 {
    font-size: 2.25em;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
    clear: both;
    display: block;
    padding-top: 8px;
}

#tuyen-dung .content-area {
    clear: both;
    display: block;
    width: 900px;
    color: #2B2B2B;
    margin: 0 auto;
}

#tuyen-dung .sidebar-right {
    display: inline-block;
    float: right;
    /* margin-top: -38px;*/
    margin-top: -53px;
    vertical-align: top;
    width: 280px;
}

.path-careers.node-type-job-opening a.apply {
    width: 125px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 0.938em;
    background: url('../images/career_apply-btn.png') no-repeat center center;
    display: inline-block;
    text-decoration: none;
}

.path-careers.node-type-job-opening .buttons-set {
    margin-top: 10px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 30px;
}

.path-careers.node-type-job-opening .buttons-set .social-media {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.path-careers.node-type-job-opening .buttons-set .social-media .share {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.path-careers.node-type-job-opening .buttons-set .social-media .share.fb {
    width: 48px;
    overflow: hidden;
}

.path-careers.node-type-job-opening .buttons-set .social-media .share.email {
    display: inline-block;
}

.path-careers.node-type-job-opening .buttons-set .social-media .share.email a {
    display: block;
    width: 70px;
    height: 24px;
    background: url("../images/career_email-btn.png") no-repeat center center;
}

.path-careers.node-type-job-opening #main-wrapper .links {
    display: inline-block;
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.path-careers.node-type-job-opening a.download {
    font-weight: 500;
    font-size: 0.813em;
    padding-left: 14px;
    background: url("../images/work-detail_download-ico.png") no-repeat left center;
}

.path-careers.node-type-job-opening a {
    text-decoration: none;
    color: #000000;
}

.path-careers.node-type-job-opening a:hover {
    color: #000000;
    text-decoration: underline;
}

.path-careers.node-type-job-opening #main-wrapper .content-area h2 {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
}

.path-careers.node-type-job-opening #main-wrapper .content-area p:first-child {
    margin-top: 0;
}

.path-careers.node-type-job-opening .breadcrumb {
    float: none;
    display: block;
}

#tuyen-dung .item-list {
    padding: 0;
    text-align: center;
    width: 910px;
}

#tuyen-dung .item-list .item a .inner {
    color: #d42828;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}

#tuyen-dung .career-bottom-info {
    margin-bottom: 15px;
}

#tuyen-dung .career-bottom-info .core-values {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
    text-align: center;
}

/*=======================================*/